{% extends 'learning_logs/base.html' %}

{% block header %}
  <h1>Topics</h1>
{% endblock header %}

{% block content %}
  
  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li> <!-- 模板中打印变量使用双花括号 -->
    {% empty %} <!-- 告诉列表为空时该怎么办 -->
      <li>No topics have been added yet.</li>
    {% endfor %} <!-- 指出for循环结束位置 -->
  </ul>
  
  <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a></h3>
  
{% endblock content %}

